.full {
  width: max-content;
  height: auto;
}

.cardSizeSmall{
width: 25%;
height: 25%;
margin-left: 6%;
}

img.overlay:hover {
  background-color: grey;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;


}

.cardHead {
    font-size: larger;
    color: azure;
}

a:hover{
    text-decoration: underline;
    color:lightblue;
}

h3{
    color: azure;
}